.snowflakes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
}

.snowflake {
  position: absolute;
  top: -10px;
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  animation: fall linear infinite;
  user-select: none;
}

@keyframes fall {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(100vh);
  }
}

.snowflake:nth-child(1n) {
  left: 10%;
  animation-duration: 10s;
  animation-delay: 0s;
}

.snowflake:nth-child(2n) {
  left: 20%;
  animation-duration: 12s;
  animation-delay: 1s;
}

.snowflake:nth-child(3n) {
  left: 30%;
  animation-duration: 14s;
  animation-delay: 2s;
}

.snowflake:nth-child(4n) {
  left: 40%;
  animation-duration: 11s;
  animation-delay: 0.5s;
}

.snowflake:nth-child(5n) {
  left: 50%;
  animation-duration: 13s;
  animation-delay: 1.5s;
}

.snowflake:nth-child(6n) {
  left: 60%;
  animation-duration: 15s;
  animation-delay: 2.5s;
}

.snowflake:nth-child(7n) {
  left: 70%;
  animation-duration: 12s;
  animation-delay: 0.8s;
}

.snowflake:nth-child(8n) {
  left: 80%;
  animation-duration: 14s;
  animation-delay: 1.8s;
}

.snowflake:nth-child(9n) {
  left: 90%;
  animation-duration: 11s;
  animation-delay: 3s;
}

.snowflake:nth-child(10n) {
  left: 95%;
  animation-duration: 13s;
  animation-delay: 2.2s;
}
